.storeList {
    text-align: center;
}

.storeCard {
    background-color: antiquewhite;
    border: 2px solid black;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}